# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [1]:
a = 5
b = 5
print ("Are variables equal by value : ", a == b)
print ("Are variables equal by id : ", id(a) == id(b))

Are variables equal by value :  True
Are variables equal by id :  True

Так, ці змінні рівні за значенням і посилаєютьна на один і той самий об'єкт, бо 5 є в проміжку [-5,256]. Для інших чисел вони б посилались на різні комірки пам'яти.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [8]:
t = True
print("Is 'True' bool ? -", isinstance(a, bool))
print("Is 'True' int ? -", isinstance(a,int))

Is 'True' bool ? - False
Is 'True' int ? - True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [7]:
var1 = 3
var2 = 2.5
var3 = var1 + var2
var4 = var1 - var2
var5 = var1 / var2
var6 = var1 * var2
var7 = var1 // var2
var8 = var1 % var2
var9 = var1 ** var2

print("+ :", var3)
print("- :", var4)
print("/ :", var5)
print("* :", var6)
print("// :", var7)
print("% :", var8)
print("** :", var9)

+ : 5.5
- : 0.5
/ : 1.2
* : 7.5
// : 1.0
% : 0.5
** : 15.588457268119896

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [11]:
a = int(var3)
b = int(var5)
c = int(var7)

var10 = False
d = int(var10)

print(var3, "- int : ", a)
print(var5, "- int : ", b)
print(var7, "- int : ", c)
print(var10, "- int : ", d)

5.5 - int :  5
1.2 - int :  1
1.0 - int :  1
False - int :  0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [16]:
str = str()
str1 = ""

if len(str) == 0:
  print("str is empty")

if len(str1) == 0:
  print("str1 is empty")

str is empty
str1 is empty

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [23]:
str = "a'a"
str1 = r"a'a"

print(str)
print(str1)

a'a
a'a

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [19]:
surname = "Hromiak"
surname_formatted = f"My surname is {surname}."
print(surname_formatted)

My surname is Hromiak.

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [27]:
input = "My dog is crazy."
input_lower = input.lower()
input_cut = input_lower[ :-1]
output = input_cut.split(" ")
print(output)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [31]:
list1 = [1, 2, 3]
list2 = list((1, 2, 3))
length = len(list1)

print(list1)
print(list2)
print("Length =", length)

[1, 2, 3]
[1, 2, 3]
Length = 3

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [37]:
list1 = [1, 2, 3]
list2 = list((1, 2, 3))

print(list1)
print(list2)

list1.append(list2)
print(list1)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, [1, 2, 3]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [38]:
list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
last_row = list[-1]
first_element = last_row[0]

print(list)
print("First elemrnt of last row :", first_element)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
First elemrnt of last row : 7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [40]:
my_list = [1, 'two', 3.0, 'four', [5, 6], True, None, (7, 8), 9.0, 10]

new_list = my_list[2:-2]

print("New list :", new_list)

New list : [3.0, 'four', [5, 6], True, None, (7, 8)]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [41]:
tuple = (1,)
print(tuple)

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Можуть містити довільні типи даних: Як списки, так і кортежі можуть містити елементи будь-якого типу даних.

Індексується: Обидва типи можна індексувати, щоб отримувати доступ до їхніх елементів.

Можуть містити змінну кількість елементів: Як списки, так і кортежі можуть містити будь-яку кількість елементів.



Списки утворюються за допомогою [], а кортежі - (,).

Cписок - mutable, а отже його можна змінити, не змінюючи id. А tuple - immutable, отже, щоб змінити кортеж, треба створювати новий.

Тому tuple більше економить пам'ять, ніж list.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [45]:
my_tuple = (1.2, 2.3, 3.4, 4.5, 5.6, 6.7, 7.8, 8.9, 9.0, 0.1, 1.9)
#            0    1    2    3    4    5    6    7    8    9    10
result_tuple = my_tuple[-1::-2]
print("Original tuple :", my_tuple)
print("Even elements in reversed order :", result_tuple)

Original tuple : (1.2, 2.3, 3.4, 4.5, 5.6, 6.7, 7.8, 8.9, 9.0, 0.1, 1.9)
Even elements in reversed order : (1.9, 9.0, 7.8, 5.6, 3.4, 1.2)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [46]:
my_set = set()
if len(my_set) == 0:
  print("my_set is empty")

my_set.add(1)
my_set.add(2)
my_set.add(3)

print("my_set after adding :", my_set)

my_set is empty
my_set after addding : {1, 2, 3}

Так, set є mutable, тому можна їх змінювати, без створення нових об'єктів

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [47]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(my_set)

{1, 2, 67, 8, 9}

Тому, що лишились лише унікальні елементи, оскільки в сеті немає повторювань

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [48]:
my_dict = {}
if len(my_dict) == 0:
  print("my_dict is empty")

my_dict[1] = "one"
my_dict["two"] = 2
my_dict[(3, 4)] = "three"
my_dict[5.0] = [4, 5]

print("my_dict after changes:", my_dict)

my_dict is empty
my_dict after changes: {1: 'one', 'two': 2, (3, 4): 'three', 5.0: [4, 5]}

Ні, список не може бути ключем, лише значенням. Це тому, що ключами не можуть бути mutable типи. Бо тоді пайтон не можу передбачити, який буде ключ, у разі зміни

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [49]:
my_dict = { "key1": "value1", "key2": "value2", "key3": {123: "dict" } }
value = my_dict["key3"][123]

print("Dictionary :", my_dict)
print("Value of lowest :", value)

Dictionary : {'key1': 'value1', 'key2': 'value2', 'key3': {123: 'dict'}}
Value of lowest : dict

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.